*{
    box-sizing: border-box;
    margin: 0;
    padding: 10px;
    background-color: black;
    color: white;
}

.hidden {
    display: none;
}

.results{
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.gif-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

img{
    width: 200px;
    align-self: center;
}

h3{
    font-weight: 200;
    font-size: 1rem;
    align-self: center;
}

input{
    background-color: white;
    border-radius: 5%;
    color: black;
}

button{
    border-radius: 5%;
    background-color: white;
    color: black;

}

h1, .search, #load-more-btn{
  position: relative;
  top: 50%;
  left: 45%;
}
